* {
    margin: 0;
    padding: 0;

}
h1{
    color:red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    /* padding: 10px; */
    margin: 25px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}


#outer-box {
   
    width: 500px;
    height: 500px;
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:0px;
    margin: 0 auto;
    

}

#inner-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(251, 253, 251);
    width: 500px;
    height: 700px;
    /* padding: 25px ; */
    border: 2px solid blue 
}

fieldset{
    padding: 30px;
    margin: 5px;

}


#legend-id{
    color: darkgoldenrod;
    padding-bottom: 5px;
    margin-top: 5px;

}

.input-id{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: larger;
    background-color: rgb(245, 240, 240);
    color: black;
    
 }
span{
    position: absolute;
    color: red;

 }
 
 #submit-button{
     border: 2px solid black;
     width: 55px;
     height: 30px;
     margin: 5px;
     padding: 5px;
     background-color: black;
     color: white;
     border-radius: 8px;
 }

 #reset-button{
    border: 2px solid black;
    width: 55px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
 
 #label-id{
     color: darkgreen;
     display: flex;
     font-size: larger;
     text-align: start;
     text-transform:capitalize;
     font-weight: bolder;
     padding: 4px;
 }
 #radio-id{
    margin-left: 30px;
 }
 
 
 
 
 